<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<%= link_to "Edit task", edit_task_path(@task) %>
<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

 <%= link_to "Back to all tasks", tasks_path %>
